.behind{
  height:1100px;
  width:700px;
  background-color:yellow;
  margin:auto;
}

.middle{
  height:925px;
  width:67%;
  background-color:blue;
  margin:auto;
}

.top{
  height:100px;
  width:100%;
  background-color:red;
  margin:auto;
}

.bottom{
  height:75px;
  width:67%;
  background-color:green;
  margin:auto;
}